# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# IDE specific files
.idea/
.vscode/

# Database files
*.db
*.sqlite3

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/ 